<%= simple_form_for(@comment, :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_field :body, class:'form-control input-lg', placeholder:'Digite seu comentario' %>
    <%= f.hidden_field(:user_id, value: current_user.id) %>
    <%= f.hidden_field(:commentable_id, value: current_user.id) %>
    <%= f.hidden_field(:commentable_type, value: 'User') %>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.submit 'Enviar Comentario', :class => 'btn btn-primary btn-block btn-lg', id:'send_comment' %>
  </div>
<% end %>
