<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>


<%= simple_form_for @user.comments.build do |q| %>
  <%= q.input :body, label: "Comentario" %>
  <%= q.hidden_field(:user_id, value: current_user.id) %>
  <div class="form-actions">
    <%= q.button :submit %>
  </div>
<% end %>


<% @user.comments.each do |comment| %>
  <p>Comentario: <%= comment.body %></p>
<% end %>