<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar Perfil', edit_user_registration_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Entrar', new_user_session_path %></li>
  <li><%= link_to 'Cadastrar', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Listar Perfis', users_path %></li>
<% end %>
